  /* Create an accessible color palette using var()function */
  /* https://www.w3schools.com/css/css3_variables.asp */
  
  form {
    justify-content: start;
    border: 1px solid #ffdcec;
    border-radius: 16px;
    width:70%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #740068;
    background: #f7d9ff;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
  }

  .radio {
    grid-column-start: 1;
    grid-column-end: 3;
    /* background: #575294; */
    color: #740068;
  }

  #name {
    max-width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background: white;
    color: #740068;
  }

  #message {
    max-width: 100%;
    padding: 10px;
    resize: vertical;
  }

  #inputName {
    display: grid;
    grid-template-columns: 15% 85%;
    justify-content: start;
  }

  input,
  textarea {
    padding: 10px;
    border: 1px solid #ffdcec;
    width: 100%;
    position: relative;
  }

  input[type="submit"] {
    max-width: 100%;
    padding: 10px;
    background-color:#d2008f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #ff2fb2;
  }